* {
  margin: 0%;
  padding: 0%;
  border: 0%;
}

body{
  background-color: rgb(230, 230, 230);
}

.barradecompra {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .barradecompra a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

.tela{
  display: flex;
  position: absolute;
  background-color: none;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.confirma-pagamento{
  
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 10%;
  background-color: rgb(238, 238, 238);
  width:160vh;
  height: 80vh;


}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  top: 0%;
  background-color: none(192, 192, 192);
  width:160vh;
  height: 70vh;
  gap:2.5%;

}

.dados{
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 5%;
  background-color: rgb(238, 238, 238);
  width: 30%;
  height: 95%;
}

.caixa-dados {
  position: relative;
  display: flex;
  top: 5%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  input {
    padding: 1%;
    width: 80%;
    border: none;
  }

}

.pag-entrega{
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 5%;
  background-color: rgb(238, 238, 238);
  width: 30%;
  height: 95%;
}

.caixa-pag{
  position: relative;
  display: flex;
  top: 5%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  input {
    padding: 1%;
    width: 80%;
    border: none;
  }

  .cartao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 82%;
    background-color: none;
    input{
      padding: 1%;
      width:100%;
    }
  }
  
  .CEP{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 82%;
    background-color: none;
    input{
      padding: 1%;
      width:100%;
    }
  }

  .Endereco{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 82%;
    background-color: none;
    input{
      padding: 1%;
      width:100%;
    }
  }

  .cvv-val{
    display: flex;
    flex-direction: row;
    width: 82%;
    background-color: none;
    gap:40px;

    

    .cvv{
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      input{
        width: 100%;
        padding: 2.5%;
      }
    }

    .val{
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      input{
        width: 100%;
        padding: 2.5%;
      }
    }

    
  }

  .num-comp{
    display: flex;
    flex-direction: row;
    width: 82%;
    background-color: none;
    gap:40px;

    

    .num{
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      input{
        width: 100%;
        padding: 2.5%;
      }
    }

    .comp{
      display: flex;
      flex-direction: column;
      gap:10px;
      
      input{
        width: 100%;
        padding: 2.5%;
      }
    }
  }


}

.produtos-car {
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 5%;
  background-color: rgb(238, 238, 238);
  width: 30%;
  height: 95%;
}

.Finalizar {
  position: absolute;
  background-color: rgb(37, 212, 37); 
  color: white;
  border-radius: 4px;
  border-color: rgb(37, 212, 37);
  width: 40vh;
  height:6vh;
  top: 90%;
  left: 70%
}

.Finalizar:hover {
  position: absolute;
  background-color: rgb(34, 185, 34);
  color: white;
  border-radius: 4px;
  border-color: rgb(37, 212, 37);
  width: 40vh;
  height:6vh;
  top: 90%;
  left: 70%;
  transition:0.2s;
} 








/* RODAPÉ

/*RODAPE DE TESTE, PARA TESTAR O SCROLL*/
/*RODAPE DE TESTE, PARA TESTAR O SCROLL*/
.Rodape {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 100%;
  left: 0px;
  background-color: #000000;
  color: white;
}
.img-rede {
  position: absolute;
  width: 20%;
}

.mov-rodape {
  padding-left: 2%;
}

.boxs2 {
  width: 320px;
  min-height: 150px;
  padding: 20px;
  display: inline-block;
  font-family: "Heavitas";
  font-size: 16px;
}

.boxs3 {
  width: 320px;
  min-height: 150px;
  padding: 20px;
  display: inline-block;
  font-family: "Heavitas";
  font-size: 15px;
}

.boxs4 {
  width: 320px;
  min-height: 150px;
  padding: 20px;
  margin-left: 5%;
  font-size: 15px;
  display: inline-block;
  font-family: "Heavitas";
}
.boxs5 {
  position: absolute;
  width: 320px;
  min-height: 150px;
  padding: 20px;
  margin-left: 5%;
  font-size: 15px;
  display: inline-block;
  font-family: "Heavitas";
  top: 20%;
}

p {
  font-family: "Roboto";
}

.boxs :nth-child(4) {
  width: 400px;
}
.boxs2 :nth-child(4) {
  width: 400px;
}
.boxs3 :nth-child(4) {
  width: 400px;
}
.boxs4 :nth-child(4) {
  width: 400px;
}
.boxs h2 {
  color: #ddd;
  margin-bottom: 20px;
}
.boxs2 h2 {
  color: #ddd;
  margin-bottom: 20px;
}
.boxs3 h2 {
  color: #ddd;
  margin-bottom: 20px;
}
.boxs4 h2 {
  color: #ddd;
  margin-bottom: 20px;
}
.boxs ul li {
  margin: 10px 0px;
  list-style: none;
}
.boxs2 ul li {
  margin: 10px 0px;
  list-style: none;
}
.boxs3 ul li {
  margin: 10px 0px;
  list-style: none;
}
.boxs4 ul li {
  margin: 10px 0px;
  list-style: none;
}
.boxs ul li a {
  color: #ddd;
  text-decoration: none;
}
.boxs2 ul li a {
  color: #ddd;
  text-decoration: none;
}
.boxs3 ul li a {
  color: #ddd;
  text-decoration: none;
}
.boxs4 ul li a {
  color: #ddd;
  text-decoration: none;
}
.boxs ul li a:hover {
  color: #ddd;
}
.boxs2 ul li a:hover {
  color: #ddd;
}
.boxs3 ul li a:hover {
  color: #ddd;
}
.boxs4 ul li a:hover {
  color: #ddd;
}
.boxs p {
  color: #ddd;
  text-align: justify;
}
.boxs2 p {
  color: #ddd;
  text-align: justify;
}
.boxs3 p {
  color: #ddd;
  text-align: justify;
}
.boxs4 p {
  color: #ddd;
  text-align: justify;
}

.Direitos {
  position: absolute;
  width: 100%;
  background-color: #f4d406;
  height: 4%;
  left: 0px;
  padding-top: 5px;
  top: 340%;
  color: #000000;
  text-align: center;
}

.Direitos p {
  padding-top: 15px;
}

.Desenvolvedores {
  text-decoration: none;
  cursor: pointer;
  color: #4d4c4c;
  left: 27%;
  text-align: center;
}

