* {
  margin: 0%;
  padding: 0%;
  border: 0%;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
  background-color: rgb(230, 230, 230);
}

button{
  cursor: pointer;
}

.barradecompra {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .barradecompra a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }

.tela{
  display: flex;
  position: absolute;
  background-color: none;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.confirma-pagamento{
  
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 10%;
  background-color: rgb(238, 238, 238);
  width:160vh;
  height: 80vh;


}

.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  top: 0%;
  background-color: none(192, 192, 192);
  width:160vh;
  height: 70vh;
  gap:1.5%;

}

.dados{
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 5%;
  background-color: rgb(238, 238, 238);
  width: 30%;
  height: 95%;
}

.caixa-dados {
  position: relative;
  display: flex;
  top: 5%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  input {
    padding: 1%;
    width: 80%;
    border: none;
  }

}

.pag-entrega{
  position: relative;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 5%;
  background-color: rgb(238, 238, 238);
  width: 30%;
  height: 95%;
}

.caixa-pag{
  position: relative;
  display: flex;
  top: 5%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  input {
    padding: 1%;
    width: 80%;
    border: none;
  }

  .cartao{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 82%;
    background-color: none;
    input{
      padding: 1%;
      width:100%;
    }
  }
  
  .CEP{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 82%;
    background-color: none;
    input{
      padding: 1%;
      width:100%;
    }
  }

  .Endereco{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 82%;
    background-color: none;
    input{
      padding: 1%;
      width:100%;
    }
  }

  .cvv-val{
    display: flex;
    flex-direction: row;
    width: 82%;
    background-color: none;
    gap:40px;

    

    .cvv{
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      input{
        width: 100%;
        padding: 2.5%;
      }
    }

    .val{
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      input{
        width: 100%;
        padding: 2.5%;
      }
    }

    
  }

  .num-comp{
    display: flex;
    flex-direction: row;
    width: 82%;
    background-color: none;
    gap:40px;

    

    .num{
      display: flex;
      flex-direction: column;
      gap: 10px;
      
      input{
        width: 100%;
        padding: 2.5%;
      }
    }

    .comp{
      display: flex;
      flex-direction: column;
      gap:10px;
      
      input{
        width: 100%;
        padding: 2.5%;
      }
    }
  }


}

.produtos-carrin {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  top: 5%;
  background-color: rgb(238, 238, 238);
  width: 34%;
  height: 95%;
  flex-direction: column;
  gap: 10px;
}

.Finalizar {
  position: absolute;
  background-color: rgb(37, 212, 37); 
  color: white;
  border-radius: 4px;
  border-color: rgb(37, 212, 37);
  width: 53vh;
  height:6vh;
  top: 90%;
  left: 65%;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 150%;
  letter-spacing: 1px;

}

.Finalizar:hover {
  position: absolute;
  background-color: rgb(34, 185, 34);
  color: white;
  border-radius: 4px;
  border-color: rgb(37, 212, 37);
  width: 53vh;
  height:6vh;
  top: 90%;
  left: 65%;
  transition:0.2s;
} 

.content{
  position: relative;
  padding: 1%;
  border-radius: 5px;
  width: 95%;
  height: 17%;
  top: 5%;
  display: flex;
  background-color: #ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#produtos-car::-webkit-scrollbar{
  width: 10px;
  border: 1px solid rgb(rgb(226, 226, 226), green, blue)
  
}

#produtos-car::-webkit-scrollbar-thumb{
background-color: #e3e3e3;
border-radius: 10px;
}
#produtos-car{
  position: absolute;
  top: 2%;
  background-color: none;
  width: 510px;
  height: 615px; 
  align-items: center;
  overflow-y: scroll;
  gap: 10px;
  background-color: none;
}

.Cart-null{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 615px;   
  font-size: 20px; 
}

.product-item{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  align-items: center;
  width: 98%;
  height: 100px;
  gap: 10px;
  padding: 1%;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px -1 px -1px;
  

  

  img{
    width: 30%;
    
  }

  #remove{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
    padding: 0px 12px;
    background-color: #e9e9e9;
    border-radius: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .quant-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-color: none;
    justify-content: center;
    gap: 5px;
    .qty{
      background-color: #e9e9e9;
      width: 100%;
      border-radius: 20px;
  
      button {
        background-color: transparent;
        border: 0;
        padding: 0px 14px;
      }
    }
  }
  

  .img-name{
    width: 80%;
    height: 100%;
    background-color: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .preco-uni{
    display: flex;
    flex-direction: column;
    width: 52%;
    height: 100%;
    align-items: center;
    background-color: none;
    justify-content: center;
    gap: 5px;
  }
}


.valor-total{
  position: relative;
  display: flex;
  background-color: rgb(233, 233, 233); 
  color: rgb(0, 0, 0);
  border-radius: 10px;
  border-color: rgb(158, 158, 158);
  width: 100vh;
  height:6vh;
  top: 2.5%;
  left: 1.5%;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  p {
    font-size: 120%;
    color: #636363;
  }

  span{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
    color: #000000;
  }
}




@media screen and (min-width: 1400px) and (max-width: 1600px) {
  #produtos-car{
    position: relative;
    top: 2%;
    width: 470px;
    height: 615px; 
    margin-left: 3%;
    
  }

  .cards {
    width:200vh;
    gap: 0;
  }

  .confirma-pagamento{
    background-color: rgb(238, 238, 238);
    width:200vh;
    height: 80vh;
    padding: 0%;
    gap: 0;
  
  }

  .produtos-carrin {
    width: 54%;
    height: 95%;
    left: 20%;
    gap: 50px;


  }
  .pag-entrega{
    width: 35%;
    left: 15%;
    height: 95%;
  }

.dados{
  width: 35%;
  left: 9%;
  height: 95%;
}

}









/* RODAPÉ

/*RODAPE DE TESTE, PARA TESTAR O SCROLL*/
/*RODAPE DE TESTE, PARA TESTAR O SCROLL*/
.Rodape {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 100%;
  left: 0px;
  background-color: #000000;
  color: white;
}
.img-rede {
  position: absolute;
  width: 20%;
}

.mov-rodape {
  padding-left: 2%;
}

.boxs2 {
  width: 320px;
  min-height: 150px;
  padding: 20px;
  display: inline-block;
  font-family: "Heavitas";
  font-size: 15px;
}

.boxs3 {
  width: 320px;
  min-height: 150px;
  padding: 20px;
  display: inline-block;
  font-family: "Heavitas";
  font-size: 15px;
}

.boxs4 {
  width: 320px;
  min-height: 150px;
  padding: 10px;
  margin-left: 5%;
  font-size: 15px;
  display: inline-block;
  font-family: "Heavitas";

}
.boxs5 {
  width: 320px;
  min-height: 150px;
  padding: 7px;
  margin-left: -5%;
  font-size: 15px;
  display: inline-block;
  font-family: "Heavitas";
}
.boxs6 {
  position: absolute;
  width: 320px;
  min-height: 150px;
  padding: 2px;
  margin-left: -1%;
  font-size: 15px;
  display: inline-block;
  font-family: "Heavitas";
  margin-top: 3%;
  top: 20%;
}

p {
  font-family: "Roboto";
}

.boxs :nth-child(4) {
  width: 400px;
}
.boxs2 :nth-child(4) {
  width: 400px;
}
.boxs3 :nth-child(4) {
  width: 400px;
}
.boxs4 :nth-child(4) {
  width: 400px;
}
.boxs5 :nth-child(4) {
  width: 400px;
}
.boxs h2 {
  color: #ddd;
  margin-bottom: 10px;
}
.boxs2 h2 {
  color: #ddd;
  margin-bottom: 10px;
}
.boxs3 h2 {
  color: #ddd;
  margin-bottom: 10px;
}
.boxs4 h2 {
  color: #ddd;
  margin-bottom: 10px;
}
.boxs5 h2 {
  color: #ddd;
  margin-bottom: 10px;
}
.boxs ul li {
  margin: 10px 0px;
  list-style: none;
}
.boxs2 ul li {
  margin: 10px 0px;
  list-style: none;
}
.boxs3 ul li {
  margin: 10px 0px;
  list-style: none;
}
.boxs4 ul li {
  margin: 10px 0px;
  list-style: none;
}
.boxs5 ul li {
  margin: 10px 0px;
  list-style: none;
}
.boxs ul li a {
  color: #ddd;
  text-decoration: none;
}
.boxs2 ul li a {
  color: #ddd;
  text-decoration: none;
}
.boxs3 ul li a {
  color: #ddd;
  text-decoration: none;
}
.boxs4 ul li a {
  color: #ddd;
  text-decoration: none;
}
.boxs5 ul li a {
  color: #ddd;
  text-decoration: none;
}
.boxs ul li a:hover {
  color: #ddd;
}
.boxs2 ul li a:hover {
  color: #ddd;
}
.boxs3 ul li a:hover {
  color: #ddd;
}
.boxs4 ul li a:hover {
  color: #ddd;
}
.boxs5 ul li a:hover {
  color: #ddd;
}
.boxs p {
  color: #ddd;
  text-align: justify;
}
.boxs2 p {
  color: #ddd;
  text-align: justify;
}
.boxs3 p {
  color: #ddd;
  text-align: justify;
}
.boxs4 p {
  color: #ddd;
  text-align: justify;
}
.boxs5 p {
  color: #ddd;
  text-align: justify;
}

.Direitos {
  position: absolute;
  width: 100%;
  background-color: #f4d406;
  height: 4%;
  left: 0px;
  padding-top: 5px;
  top: 140%;
  color: #000000;
  text-align: center;
}

.Direitos p {
  padding-top: 15px;
}

.Desenvolvedores {
  text-decoration: none;
  cursor: pointer;
  color: #4d4c4c;
  left: 27%;
  text-align: center;
}

.Envios {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  left: 27%;
  text-align: center;
}

.Cookies {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  left: 27%;
  text-align: center;
}

.Comdições {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
  left: 27%;
  text-align: center;
}

/*RODAPE AJUSTE INDEX CARD PRODUTO*/

.Rodape-INDEXCARD {
  position: absolute;
  width: 100%;
  height: 40%;
  top: 300%;
  left: 0px;
  background-color: #000000;
  color: white;
}

.Direitos-INDEXCARD {
  position: absolute;
  width: 100%;
  background-color: #f4d406;
  height: 4%;
  left: 0px;
  padding-top: 5px;
  top: 340%;
  color: #000000;
  text-align: center;
}

.Direitos-INDEXCARD p {
  padding-top: 15px;
}

