.IndexCard{
  position: absolute;
  text-align: center;
  top: 100%;
  width: 75%;
  left: 20%;
  height: 50%;
}

#text-categoria{
    position: relative;
    width:100%;
    height: 10%;
    text-align: center;
    font-size: 12px;
    right:35%;
    font-family: "Heavitas";
  }

  .product-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 20px 75px ;
  width: 280px;
  text-align: center;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.product-image {
  width: 100%;
  height: auto;
}
.product-title {
  padding-top: 15px;
  font-size: 18px;
  font-family: "Heavitas";
  margin: 10px 0;
}

.product-descrição {
  font-size: 16px;
}

.product-parcela {
  font-size: 15px;
}

.product-price {
  font-size: 20px;
  padding-top: 10px;
  color: #f4d406;
}
.add-to-cart {
  background-color: #ecce09;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "Heavitas";
  border: 2px black solid;
  padding: 15px ;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
}
.add-to-cart:hover {
  background-color: #ffde59;
  transition: 1s;
}  

.Elementofiltro{
    position: absolute;
    width: 19%;
    left: 1.5%;
    top: 92%;
    height: 5%;
    padding-top: 1%;
    text-align: center;
    font-size: 17px;
    border-radius: 3%;
    font-family: "Roboto";
}
 
.borda2{
    display: inline-block; 
    width: 450%; 
    border: 1px solid #d1d1d1;
    margin: 0 auto;
    margin-left: 15%;
    margin-bottom: 2%;
  }

.btn-filtro{
   position: absolute;
    width: 40%;
    top: -12%;
    left: 400%;
    padding-bottom: 13%;
    border: 1px solid #ddd;
    border-radius: 5%;
    padding-right: 2%;
}

.btn-relevancia{
  color: #050505;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
}

.filtroDiv{
  position: absolute;
  width: 17%;
  left: 3%;
  top: 100%;
  height: 80%;
}

.Filtro-categorias{
  position: absolute;
  width: 90%;
  left: 4.5%;
  top: 5%;
  height: 70%;
  border-radius: 2%;
  border: 1px solid #ddd;
}

#text-categoria-filtro{
  position: relative;
  padding-top: 15px;
  width:60%;
  height: 15%;
  left: 20%;
  text-align: center;
  font-size: 9px;
  right:35%;
  font-family: "Heavitas";
}

.btn-filtro-categoria{  
  position: relative;
 border-bottom: 2px solid #ddd;
 border-radius:1px;
 width: 125%;
 margin-top: 15%;
 height: 40%;
 text-align: center;
 font-size: 17px;
 right: 9%;
 font-family: "Heavitas";
}

.Filtro-Preço{
  position: absolute;
  width: 100%;
  top: 105%;
  height: 25%;
  border-radius: 2%;
  border: 1px solid #ddd;
}

.text-Filtro-Preco{
  position: relative;
  padding-top: 15px;
  width:60%;
  height: 15%;
  left: 20%;
  text-align: center;
  font-size: 9px;
  right:35%;
  font-family: "Heavitas";
}

.Filtro-Preço p {
  text-align: center;
}

#preco-range {
  width: 70%;
  margin-top: 10%;
  margin-left: 12%;
}

#preco-valor {
  font-weight: bold;
}