.IndexCard{
  position: absolute;
  text-align: center;
  top: 100%;
  width: 75%;
  left: 20%;
  height: 50%;
}

#text-categoria{
    position: relative;
    width:100%;
    height: 10%;
    text-align: center;
    font-size: 12px;
    right:35%;
    font-family: "Heavitas";
  }

  .product-card {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 20px 20px 75px ;
  width: 280px;
  text-align: center;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.product-card:hover{
  padding: 25px 25px 75px ;
  transition: 1s;
}

.product-image {
  width: 100%;
  height: auto;
}
.product-title {
  padding-top: 15px;
  font-size: 18px;
  font-family: "Heavitas";
  margin: 10px 0;
}

.product-descrição {
  font-size: 16px;
}

.product-parcela {
  font-size: 15px;
}

.product-price {
  font-size: 20px;
  padding-top: 10px;
  color: #f4d406;
}
.add-to-cart {
  background-color: #ecce09;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: "Heavitas";
  border: 2px black solid;
  padding: 15px ;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 30px;
}
.add-to-cart:hover {
  background-color: #ffde59;
  transition: 1s;
}  

.Elementofiltro{
    position: absolute;
    width: 19%;
    left: 1.5%;
    top: 92%;
    height: 5%;
    padding-top: 1%;
    text-align: center;
    font-size: 17px;
    border-radius: 3%;
    font-family: "Roboto";
}
 
.borda2{
    display: inline-block; 
    width: 450%; 
    border: 1px solid #d1d1d1;
    margin: 0 auto;
    margin-left: 15%;
    margin-bottom: 2%;
  }

.btn-filtro{
   position: absolute;
    width: 40%;
    top: -12%;
    left: 400%;
    padding-bottom: 13%;
    border: 1px solid #ddd;
    border-radius: 5%;
    padding-right: 2%;
}

.btn-relevancia{
  color: #050505;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-family: "Roboto";
}

.filtroDiv{
  position: absolute;
  width: 17%;
  left: 3%;
  top: 100%;
  height: 80%;
}

.Filtro-categorias{
  position: absolute;
  width: 90%;
  left: 4.5%;
  top: 11%;
  height: 70%;
  border-radius: 2%;
  border: 2px solid #ddd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

#text-categoria-filtro{
  position: relative;
  padding-top: 15px;
  width:60%;
  height: 15%;
  left: 20%;
  text-align: center;
  font-size: 9px;
  right:35%;
  font-family: "Heavitas";
}

.btn-filtro-categoria{  
  position: relative;
 border-bottom: 2px solid #ddd;
 border-radius:1px;
 width: 125%;
 margin-top: 15%;
 height: 40%;
 text-align: center;
 font-size: 12px;
 right: 9%;
 font-family: "Heavitas";
}

.Filtro-Preço{
  position: absolute;
  width: 100%;
  top: 105%;
  height: 35%;
  border-radius: 2%;
  border: 2px solid #ddd;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.text-Filtro-Preco{
  position: relative;
  padding-top: 15px;
  width:60%;
  height: 15%;
  left: 20%;
  text-align: center;
  font-size: 9px;
  right:35%;
  font-family: "Heavitas";
}

.Filtro-Preço p {
  text-align: center;
}

#preco-range {
  width: 70%;
  margin-top: 10%;
  margin-left: 12%;
}

#preco-valor {
  font-weight: bold;
}

.BntFiltros{
  margin-top: 5%;
  text-align: center;
}

.BntFiltros button{
  font-size: 15px;
  text-align: center;
  font-family: "Heavitas";
  padding: 8px 8px 8px;
  border-radius: 1%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Estilos do Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding-top: 30px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.363);
  -webkit-animation: scale-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
	        animation: scale-in 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@keyframes scale-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  }

.modal-content {
  background-color: #ffffff;
  margin: auto;
  border: 2px solid #888;
  width: 100%;
  height: 90%;
  max-width: 70%;
  border-radius: 8px;
  text-align: center;
}

.close {
  color: #aaaaaa00;
  float: right;
  margin-top: 2%;
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
}

.borde-modal{
  width: 67.8%;
  height: 82%;
  left: 16%;
  position: absolute;
  top: 6%;
  border-radius: 8px;
  border: 2px solid #a09d9d;
  background-color: rgba(0, 0, 255, 0);
}

.modal-product-image {
  width: 40%;
  margin-right: 40%;
  margin-top: 2%;
  margin-bottom: 5px;

}

.modal-product-info{
  position: absolute;
  width: 45%;
  top: 20%;
  left: 45%;
  height: 50%;
}

.modal-product-title {
  font-size: 25px;
  width: 93%;
  font-family:"Heavitas" ;
  margin-top: -20px;
}

.modal-product-description {
  font-size: 13px;
  margin-bottom: 10px;
  width: 60%;
  margin-left: 17%;
}


.modal-product-parcela {
  font-size: 14px;
  width:32%;
  margin-left: 43%;
  margin-top: -10%;
  margin-bottom: 10px;

}

.modal-product-price {
  font-size: 25px;
  color: #f4d406;
  width: 25%;
  margin-top: 6%;
  margin-left: 19%;
  margin-bottom: 20px;
}

.pagamemtos-div{
  border: 2px solid #ddd;
  border-radius: 8px;
  margin-left: 21%;
  margin-top: 5%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  width: 55%;
  height: 20%;
}
.pagamemtos-div img{
  width: 100%;
}

.frete-div{
  border-radius: 8px;
  margin-left: 28.5%;
  margin-top: 5%;
  width: 45%;
  height: 20%;
}
.frete-div img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid #000000;
}

.descricao-div{
  border: 2px solid #ddd;
  position: absolute;
  background-color: rgb(232, 235, 235);
  border-radius: 8px;
  margin-left: 3%;
  top: 53%;
  width: 35%;
  height: 30%;
}

.descricao-div h1{
  font-family: "Heavitas";
  padding-top: 10px;
  font-size: 24px;
}

