    
    .categoria-carrosel{
    background-color: aqua;
    top: 89%;
    position: absolute;
    width:100%;
    height: 30%;
  
  }
  
  .carousel-container {
    position: relative;
    width: 100%;
    padding-top: 1%;
    margin: 0 auto;
    text-align: center;
  }
  
  .carousel {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
  }
  
  .carousel-item {
    flex: 0 0 15%;
    text-align: center;
  }
  
  .carousel-item img {
    width: 100%;
    margin-left: 20%;
    border-radius: 50%;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .prev {
    left: 0;
  }
  
  .next {
    right: 0;
  }

  .text-categoria{
    position: relative;
    width:100%;
    height: 10%;
    text-align: center;
    font-size: 12px;
    font-family: "Heavitas";
  }
  
  .borda{
    display: inline-block; 
    width: 30%; 
    border: 2px solid #000;
    margin: 0 auto;
    margin-left: 35%;
    margin-bottom: 2%;
  }