*{
  padding: 0%;
  margin: 0%;
  border: 0%;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
/*HEADER*/
.cabecalho {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 10%;
  width: 100%;
  background-color: #000000;
  border-top: 5px solid #f4d406;
  border-bottom: 5px solid #f4d406;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#a-logo {
  background-color: none;
  display: flex;
  width: 20%;
  height: 90%;
}

.logo {
  width: 100%;
}

.container-wrapper {
  position: relative;
  right: 5.8vh;
  background-color: none;
  display: flex;
  width: 50%;
  height: 7vh;
  align-items: center;
  justify-content: center;
}

.input-wrapper {
  padding: 12px 25px;
  display: flex;
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  cursor: pointer;
}

.input-wrapper input {
  background-color: transparent;
  width: 29vh;
  border: none;
  outline: none;
}

.input-wrapper input:hover {
  width: 36vh;
  transition: 1s;
}

.botoes-wrapper {
  position: relative;
  background-color: none;
  display: flex;
  width: 40vh;
  height: 8vh;
  right: 10vh;
  border-radius: 5px;
  background-color: none;
  gap: 2vh;
  
}
.carrinho-wrapper {
  display: flex;
  width: 15vh;
  font-size: 120%;
  height: 8vh;
  font-family: Cambria, Cochin, "Georgia", Times, Times New Roman, serif;
  border-radius: 5px;
  cursor: pointer;
  background-color: none;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  gap: 2vh;
  color: #ffffff;
}

.cart {
  font-size: 3vh;
  display: flex;
  align-items: center;
  color: #f4d406;
}

.login-wrapper {
  display: flex;
  width: 30vh;
  height: 8vh;
  font-size: 120%;
  font-family: Cambria, Cochin, "Georgia", Times, Times New Roman, serif;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  gap: 2vh;
  justify-content: center;
  flex-direction: row;
  color: #ffffff;
  background-color: none;
}
.texto-container {
  background-color: none;
  position: relative;
  display: block;
  flex-direction: column;
  align-items:center;
  align-content: center;
  width: 90%;
  height: 100%;
  font-size: 55%;

  p{
    font-size: 110%;
    padding: 0%;
  }
  
}
.link {
  position: relative;
  font-family: "Heavitas";
  background-color: none;
  width: 100%;
  align-items: center;
  height: 20%;
  display: flex;
  flex-direction: row;
  gap: 5%;
  font-size: 110%;

  a{
    color: white;
    text-decoration: none;
  }
}
.IconUser {
  font-size: 3vh;
  display: contents;
  align-items: center;
  color: #f4d406;
}

.categorias {
  position: fixed;
  top: 10.8%;
  left: 0px;
  height: 5.5%;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  z-index: 100;
}

#Arduino {
  margin-left: 16%;
}

#Modulos {
  margin-left: 6.5%;
}

#Motores {
  margin-left: 6.5%;
}

#Componentes {
  margin-left: 6.5%;
}

#Kits {
  margin-left: 9%;
}

#prototipagem {
  margin-left: 11.5%;
}

#impre-3D {
  margin-left: 9%;
}

#ofertas {
  margin-left: 9%;
}

.categorias-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-categoria {
  color: black;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-family: "Heavitas";
}

.btn-categoria:hover {
  color: #474646;
  font-size: 16px;
  transition: 0.4s;
}

.dropdown:hover {
  font-size: 16.5px;
  transition: 0.5s;
}

.btn-ofertas {
  color: black;
  font-size: 14px;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid #f4d406;
  font-family: "Heavitas";
}

.btn-ofertas:hover {
  font-size: 14.5px;
  transition: 0.4s;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 15px;
  margin-left: 10px;
}

.dropdown-content {
  display: none;
  font-size: 13.5px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-family: "Roboto";
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*MENU LATERAL*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 80px;
}

.sidenav a {
  font-family: "Heavitas";
  padding: 8px 35px 8px 32px;
  margin-left: 10%;
  text-decoration: none;
  font-size: 19px;
  color: #000000;
  background-color: #f4d406;
  width: 40%;
  margin-top: 15%;
  display: block;
  transition: 0.3s;
  border-radius: 20px;
  border: 4px solid #f4d406;
  text-align: center;
}

.sidenav a:hover {
  transition: 0.5s;
  color: #000000;
  border: 4px solid #000000;
  background-color: #ffffff;
}

.sidenav #closebtn {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  width: 15%;
  top: 0;
  color: #f4d406;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 8px 8px 8px 22px;
  border: 1px solid rgba(255, 255, 255, 0);
}

#main {
  height: 1px;
  text-align: center;
  transition: margin-left 0.5s;
  margin-bottom: 53px;
  padding-left: 50px;
  z-index: 3;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 15px;
  }
}
.faixa {
  position: absolute;
  width: 100%;
  height: 8%;
  left: 0%;
  display: flex;
  gap: 1%;
}

.imgFaixa {
  width: 15%;
  margin-left: 7%;
  margin-top: 0.1%;
}

.imgFaixa img {
  width: 100%;
  height: 100%;
}

