html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.cabecalho {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 10%;
  width: 100%;
  background-color: #000000;
  border-top: 4px solid #f4d406;
  border-bottom: 4px solid #f4d406;
  z-index: 1000;
}

.logo {
  width: 21%;
  top: 0px;
}

.barra{
  position: relative;
  width: 500px;
  height: 30px;
  top: -40%;
  left: 200px;
  background-color: rgba(243, 243, 243, 0.932);
  border: none;
}

.categorias {
  position: fixed;
  top: 10.9%;
  left: 0px;
  height: 5.5%;
  width: 100%;
  background-color: #f3f3f3;
  display: flex;
  z-index: 1000;
}

#Arduino {
  margin-left: 12%;
}

#Modulos {
  margin-left: 7%;
}

#Motores {
  margin-left: 7%;
}

#Componentes {
  margin-left: 7%;
}

#Kits {
  margin-left: 14%;
}

#prototipagem {
  margin-left: 12%;
}

#impre-3D {
  margin-left: 9%;
}

#ofertas {
  margin-left: 9%;
}

.categorias-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-categoria {
  color: black;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.btn-ofertas{
  color: black;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid #f4d406;

}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 15px;
  margin-left: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
