html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.cabecalho {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 13%;
  width: 100%;
  background-color:#000000;
  border-top: 4px solid #f4d406;
  border-bottom: 4px solid #f4d406;
  z-index: 1000;
}

.logo {
  width: 26%;
  top:0px;
}

.categorias{
  position: fixed;
  top: 14%;
  left: 0px;
  height: 8%;
  width: 100%;
  background-color:#ffffff;
  /*OBS: REMOVER O BORDER APOS COLOCAÇÂO DO CARROSEL*/
  border: 2px solid black;
  display: flex;
  z-index: 1000;
}

.categorias-btn{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.btn-categoria{
  color: black;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 15px;
  margin-left: 10px;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}